.sectionTitle {
    color: #11242d;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    margin-bottom: 50px;
}

.project {
    margin-bottom: 80px;
}

.projectTitle {
    color: #11242d;
    background-color: #f98125;
}

.boxTitle {
    font-size: 20px;
    font-weight: bold;
}

.projectTextGif {
    background-color: #5b84c4;
    color: #11242d;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.demo {
    width: 600px;
    margin-top: 20px;
}

.buttonsContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.projectLink:hover {
    text-decoration: none;
}

.projectButton:hover{
    opacity: 0.7;
    color: #11242d;
}

@media screen and (max-width: 375px) {
    .sectionTitle {
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    .sectionTitle {
        font-size: 20px;
    }
}