.welcome {
    max-width: 80%;
    margin-top: 40px;
}

.welcome h2 {
    color: #11242d;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.welcome p {
    color: #11242d;
    font-size: 22px;
    text-align: justify;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 375px) {
    .welcome h2 {
        font-size: 25px;
    }
    .welcome p {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .welcome h2 {
        font-size: 20px;
    }
    .welcome p {
        font-size: 14px;
    }
}