.headerContainer {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: burlywood;
}

.headerText {
    color: #0a0a3b;
    font-weight: bold;
    width: 60%;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .headerText {
        width: 40%;
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .headerText {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
}