.footerContainer {
    background-color: #193a6f;
    color: #f98125;
    font-weight: bold;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.footerLogo {
    width: 120px;
    cursor: pointer;
}

.footerContactData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .footerContainer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .footerLogo {
        margin-bottom: 15px;
    }
    .contactContainer {
        justify-content: center;
    }
}