@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-image: url("../public/Wallpaper.jpg") !important;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Roboto Slab', serif;
}
