.aboutMeSection {
    max-width: 80%;
}

.sectionParagraph {
    color: #11242d;
    font-size: 18px;
    text-align: justify;
    margin: 10px;
}

.projectsLink {
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}

.chakra-link {
    text-decoration: none;
}

.css-spn4bz:hover, .css-spn4bz[data-hover] {
    text-decoration: none;
}

.chakra-link:hover {
    color: #f98125;
    text-decoration: none;
}

.downloadButton:hover{
    opacity: 0.7;
}

@media screen and (max-width: 375px) {
    .sectionParagraph {
        font-size: 16px;
    }
    .aboutMeSection .buttonsContainer {
        flex-direction: column;
    }
    .downloadButton {
        margin: 10px;
    }
}

@media screen and (max-width: 320px) {
    .sectionParagraph {
        font-size: 14px;
    }
}